body{color:#877260;background-color:#FFFFFF;background-image:url("body_bg.png");background-repeat:repeat;background-attachment:scroll;background-position:0 0;}
.body-bg{}
.wrapper{}
a{color:#6F8C12;}
a:hover{color:#7C9A1C;}
h1, h2, h3, h4, h5{font-family:'Ballpark';font-weight:normal;}
h1 a, h2 a, h3 a, h4 a, h5 a{color:#7C9A1C;}
ul{list-style:disc inside url("bullet_g.png");}
.container{background-color:#FFFEF1;}
.ot-content{}
.oTopBlock{background-color:#3B2826;border-color:#78534F;}
.oTopBlock .container-i{background-color:rgba(0, 0, 0, 0.4);}
.ie7 .oTopBlock .container-i,
.ie8 .oTopBlock .container-i{background-color:#221817;}
.top1 .vmCartModule .ico-cart{background-image:url("");background-repeat:no-repeat;background-attachment:scroll;background-position:0 0;}
.top2{}
.mainmenu .otmenu-desk-wrapper .ot-menu a{color:#D6D4BC;background:none;}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1{}
.mainmenu .otmenu-desk-wrapper .ot-menu li > div > a{}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1 > div > a{color:#DEDCC7;}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1.first > div > a{}
.mainmenu .otmenu-desk-wrapper .ot-menu li{border-color:#3A2826;}
.mainmenu .otmenu-desk-wrapper .ot-menu li:hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.active{background-color:transparent;}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1:hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1.hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1.active{background-color:rgba(0, 0, 0, 0.4);-webkit-box-shadow:1px 1px 0px rgba(255, 254, 241, 0.25);-moz-box-shadow:1px 1px 0px rgba(255, 254, 241, 0.25);box-shadow:1px 1px 0px rgba(255, 254, 241, 0.25);}
.ie7 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1:hover,
.ie7 .mainmenu .otmenu-desk-wrapper .ot-menu li.body{color:#877260;background-color:#FFFFFF;background-image:url("body_bg.png");background-repeat:repeat;background-attachment:scroll;background-position:0 0;}
.body-bg{}
.wrapper{}
a{color:#6F8C12;}
a:hover{color:#7C9A1C;}
h1, h2, h3, h4, h5{font-family:'Ballpark';font-weight:normal;}
h1 a, h2 a, h3 a, h4 a, h5 a{color:#7C9A1C;}
ul{list-style:disc inside url("bullet_g.png");}
.container{background-color:#FFFEF1;}
.ot-content{}
.oTopBlock{background-color:#3B2826;border-color:#78534F;}
.oTopBlock .container-i{background-color:rgba(0, 0, 0, 0.4);}
.ie7 .oTopBlock .container-i,
.ie8 .oTopBlock .container-i{background-color:#221817;}
.top1 .vmCartModule .ico-cart{background-image:url("");background-repeat:no-repeat;background-attachment:scroll;background-position:0 0;}
.top2{}
.mainmenu .otmenu-desk-wrapper .ot-menu a{color:#D6D4BC;background:none;}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1{}
.mainmenu .otmenu-desk-wrapper .ot-menu li > div > a{}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1 > div > a{color:#DEDCC7;}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1.first > div > a{}
.mainmenu .otmenu-desk-wrapper .ot-menu li{border-color:#3A2826;}
.mainmenu .otmenu-desk-wrapper .ot-menu li:hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.active{background-color:transparent;}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1:hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1.hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1.active{background-color:rgba(0, 0, 0, 0.4);-webkit-box-shadow:1px 1px 0px rgba(255, 254, 241, 0.25);-moz-box-shadow:1px 1px 0px rgba(255, 254, 241, 0.25);box-shadow:1px 1px 0px rgba(255, 254, 241, 0.25);}
.ie7 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1:hover,
.ie7 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1.hover,
.ie7 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1.active,
.ie8 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1:hover,
.ie8 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1.hover,
.ie8 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1.active{background-color:#191011;-webkit-box-shadow:1px 1px 0px #5A514D;-moz-box-shadow:1px 1px 0px #5A514D;box-shadow:1px 1px 0px #5A514D;}
.mainmenu .otmenu-desk-wrapper .ot-menu li > div > a:hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.hover > div > a,
.mainmenu .otmenu-desk-wrapper .ot-menu li.active > div > a{background-color:transparent;color:#6F8C12;}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1 > div > a:hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1.hover > div > a,
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1.active > div > a{color:#DEDCC7;}
.mainmenu .otmenu-desk-wrapper .ot-menu .submenu-wrap{background-color:rgba(42, 29, 27, 0.9);-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.25);-moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.25);box-shadow:1px 1px 2px rgba(0, 0, 0, 0.25);}
.ie7 .mainmenu .otmenu-desk-wrapper .ot-menu .submenu-wrap,
.ie8 .mainmenu .otmenu-desk-wrapper .ot-menu .submenu-wrap{background-color:#2A1D1B;-webkit-box-shadow:1px 1px 2px #000000;-moz-box-shadow:1px 1px 2px #000000;box-shadow:1px 1px 2px #000000;}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1 > div > .submenu-wrap{}
.mainmenu .otmenu-desk-wrapper .ot-menu li > div > .submenu-wrap{}
.mainmenu .otmenu-desk-wrapper .ot-menu li.hasColumn .submenu-column{background-color:transparent;}
.mainmenu .otmenu-desk-wrapper .ot-menu .submenu-wrap-i{}
.mainmenu .otmenu-desk-wrapper .ot-menu li li{background:none;}
.mainmenu .otmenu-desk-wrapper .ot-menu.child-menu li.hasChild.notColumn > div > a{background-image:url("");background-repeat:no-repeat;background-attachment:scroll;background-position:98% 50%;}
.mainmenu .otmenu-desk-wrapper .ot-menu.child-menu li.hasChild.notColumn.active > div > a,
.mainmenu .otmenu-desk-wrapper .ot-menu.child-menu li.hasChild.notColumn.hover > div > a{}
.module.accordion .search .form-search{background:#FFFFFF;border-color:#5D4846;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.35);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.35);box-shadow:0 1px 2px rgba(0, 0, 0, 0.35);}
.form-search .input-append .search-query{background:#F6F6F6;color:#999999;}
.custom_search .form-search .input-append{background:#FFFFFF;-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.25) inset;-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.25) inset;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.25) inset;}
.custom_search .form-search .input-append .search-query,
.custom_search .form-search .input-append .btn{background:#FFFFFF;color:#999999;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.oMiddleBlock{background-color:#3B2826;border-color:#F2B702;}
.breadcrumb,
.breadcrumb a,
.breadcrumb > .active{color:#BDA795;}
.breadcrumb{background-color:transparent;}
.breadcrumb > li{text-shadow:0 0 0 rgba(0, 0, 0, 0);}
.breadcrumb > li > .divider{background-attachment:scroll;background-color:transparent;background-image:url("");background-repeat:no-repeat;background-position:50% 50%;}
.componentheading,
.page-header{color:#7C9A1C;}
.module h3.mod-title,
.module h3.custom-title{color:#7C9A1C;}
.module.style2 h3.mod-title,
.module h3.custom-title.style2{color:#F85D77;}
.page-content,
.module .mod-content{}
.oMainBlock .module ul li{}
.oMainBlock .module ul.nav li{background-image:none;border-color:#959594;}
.oMainBlock .module ul.nav li a{color:#555555;}
.oMainBlock .module ul.nav li.active > a,
.oMainBlock .module ul.nav li a:hover,
.oMainBlock .module ul.nav li a:focus{color:#36720B;}
.module .list-items li .created{color:#999999;}
.itemContainer,
.userItemView,
div.tagItemView,
.latestItemView{border-color:#E5E5E5;}
div.itemHeader h2.itemTitle{}
div.itemListSubCategories h3,
.itemHeader .itemTitle,
.genericItemTitle,
.catItemHeader .catItemTitle,
.catItemHeader .catItemTitle a,
div.latestItemHeader h3.latestItemTitle,
div.latestItemHeader h3.latestItemTitle a,
.moduleItemTitle,
.moduleItemTitle a{color:#625A4B;}
ul.itemsList li{border-color:#EBEBEB;}
.k2ItemBlock{border-color:#E5E5E5;}
.catItemTags,
.userItemTags,
.itemTags,
.moduleItemTags,
.catItemTags a,
ul.userItemTags li a,
.itemTags a,
.moduleItemTags a{color:#666666;}
.catItemTags a:hover,
ul.userItemTags li a:hover,
.itemTags a:hover,
.moduleItemTags a:hover{color:#979E28;}
.itemCommentsCounter{border-color:#6F8C12;}
.itemCommentsCounter > span{background-color:#629E1E;color:#FFFFFF;}
.k2ItemsBlock .ot-single .moduleItemOverlay,
.k2ItemsBlock .ot-single .moduleItemOverlay a{color:#FFFFFF;}
.k2ItemsBlock .ot-single .moduleItemOverlay .moduleItemTitle{background-color:#457E04;color:#FFFFFF;}
.k2ItemsBlock .ot-single .moduleItemOverlay .moduleItemIntrotext{background-color:#3B2826;}
.k2ItemsBlock .ot-single .moduleItemOverlay .moduleItemAddition{background-color:#457E04;background-image:none;}
.k2ItemsBlock .ot-single .moduleItemOverlay a.moduleItemReadMore{background-color:#3B2826;background-image:url("");background-repeat:no-repeat;background-position:92% 50%;}
.accordion-group.k2ItemBlock .accordion-heading{background-color:#F7F4EE;}
.accordion-group.k2ItemBlock .accordion-heading .accordion-toggle{background-color:#E7E1D8;}
.accordion-group.k2ItemBlock .accordion-heading .icon-plus-minus{background-image:url("");background-position:0 0;}
.accordion-group.k2ItemBlock.active .accordion-heading,
.accordion-group.k2ItemBlock:hover .accordion-heading{background-color:#607848;}
.accordion-group.k2ItemBlock.active .accordion-heading .accordion-toggle,
.accordion-group.k2ItemBlock:hover .accordion-heading .accordion-toggle{background-color:#6F8C12;}
.accordion-group.k2ItemBlock.active .accordion-heading .icon-plus-minus{background-image:url("");background-position:0 0;}
.accordion-group.k2ItemBlock .accordion-heading .moduleItemTitle{color:#333333;}
.accordion-group.k2ItemBlock.active .accordion-heading .moduleItemTitle,
.accordion-group.k2ItemBlock:hover .accordion-heading .moduleItemTitle{color:#FFFFFF;}
.moduleItemReadMore,
a.k2ReadMore{background-color:#3B2826;background-attachment:scroll;background-image:url("");background-position:100% 50%;background-repeat:no-repeat;color:#FFFFFF;}
.moduleItemReadMore:hover,
a.k2ReadMore:hover{background-color:#457E04;color:#FFFFFF;}
.browse-top h3.category-title{color:#7C9A1C;}
.category-view .row-fluid .category .spacer,
.featured-view .spacer,
.latest-view .spacer,
.topten-view .spacer,
.recent-view .spacer,
.related-products-view .spacer,
.browse-view .row-fluid .product .spacer,
.product .spacer{}
.category-view .row-fluid .category .spacer:hover,
.featured-view .spacer:hover,
.latest-view .spacer:hover,
.topten-view .spacer:hover,
.recent-view .spacer:hover,
.related-products-view .spacer:hover,
.browse-view .row-fluid .product .spacer:hover,
.product .spacer:hover{}
.product .spacer .product-image{}
.product .spacer .product-name{}
.product .spacer a.product-name:hover{color:#7C9A1C;}
.product .spacer .product-s-desc{}
.product .spacer .product-details{color:#FFFFFF;border-color:#5B951F #73A82F #689E27 #4C8815;background-color:#629E1E;background-image:-moz-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #73AA2E), color-stop(100%, #508C16));background-image:-webkit-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-o-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-ms-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:linear-gradient(to bottom, #73AA2E 0, #508C16 100%);}
.product .spacer .product-details:hover{background-color:#457E04;background-image:-moz-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #578D07), color-stop(100%, #376C03));background-image:-webkit-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-o-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-ms-linear-gradient(top, #578D07 0, #376C03 100%);background-image:linear-gradient(to bottom, #578D07 0, #376C03 100%);}
.featured-view .spacer span.product-discount,
.latest-view .spacer span.product-discount,
.topten-view .spacer span.product-discount,
.recent-view .spacer span.product-discount,
.related-products-view .spacer span.product-discount,
.browse-view .row-fluid .product .spacer span.product-discount,
.product .spacer span.product-discount{color:#FFFFFF;background-image:url("");background-repeat:no-repeat;background-attachment:scroll;background-position:0 0;}
.product .spacer .product-price,
.product .spacer .product-rel-price{background-color:#3B2826;background-image:url("");background-repeat:no-repeat;background-attachment:scroll;background-position:8px 50%;}
.featured-view .spacer .product-price span,
.latest-view .spacer .product-price span,
.topten-view .spacer .product-price span,
.recent-view .spacer .product-price span,
.related-products-view .spacer .product-price span,
.browse-view .row-fluid .product .spacer .product-price span,
.product .spacer .product-price,
.product .spacer .product-rel-price{color:#FCFADB;}
.featured-view .spacer .product-price .price-crossed span,
.latest-view .spacer .product-price .price-crossed span,
.topten-view .spacer .product-price .price-crossed span,
.recent-view .spacer .product-price .price-crossed span,
.related-products-view .spacer .product-price .price-crossed span,
.browse-view .row-fluid .product .spacer .product-price .price-crossed span,
.product .spacer .product-price .price-crossed,
.product .spacer .product-rel-price .price-crossed{color:#B1B1B1;}
.product-preview{}
.main-image{}
.main-image .img-caption{background:#D7D7D7;}
.additional-images{}
.additional-images .nav > li > a{border-color:#F2F2F2;}
.additional-images .nav > li > a:hover,
.additional-images .nav > li:hover > a,
.additional-images .nav > li.active > a{border-color:#CCCCCC;}
.productdetails-view .product-name h1{color:#694743;}
.productdetails-view .category-name{color:#999999;}
.product-in-stock{color:#7C9A1C;}
.availability,
.productdetails-view .product-price span{color:#7C9A1C;}
.productdetails-view .product-price span.PricesalesPrice{color:#F95D77;}
.productdetails-view .product-price .price-crossed span{color:#918072;}
.productdetails-view .product-short-description{border-color:#E9E9E9;}
.productdetails-view .product-details{}
.productdetails-view .spacer-buy-area,
.productdetails-view .product-fields{}
.productdetails-view .addtocart-area{}
span.addtocart-button input.addtocart-button{color:#FFFEF1;background-color:#F2B200;background-image:-moz-linear-gradient(top, #F6CB00 0, #F0EFE3 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #F6CB00), color-stop(100%, #F0EFE3));background-image:-webkit-linear-gradient(top, #F6CB00 0, #F0EFE3 100%);background-image:-o-linear-gradient(top, #F6CB00 0, #F0EFE3 100%);background-image:-ms-linear-gradient(top, #F6CB00 0, #F0EFE3 100%);background-image:linear-gradient(to bottom, #F6CB00 0, #F0EFE3 100%);border-color:#FAF9EC;}
span.addtocart-button input.addtocart-button:hover{}
span.addtocart-button input.notify-button,
.vm-button-correct, .vm-button-correct:link,
.vm-button-correct:visited{background-color:#629E1E;background-image:-moz-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #73AA2E), color-stop(100%, #508C16));background-image:-webkit-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-o-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-ms-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:linear-gradient(to bottom, #73AA2E 0, #508C16 100%);}
span.addtocart-button input.notify-button:hover,
.vm-button-correct:hover{background-color:#457E04;background-image:-moz-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #578D07), color-stop(100%, #376C03));background-image:-webkit-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-o-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-ms-linear-gradient(top, #578D07 0, #376C03 100%);background-image:linear-gradient(to bottom, #578D07 0, #376C03 100%);color:#FFFFFF;}
.productdetails-view h4,
.product-related-products h4,
.product-related-categories h4,
.category-view h4,
.featured-view h4,
.latest-view h4,
.topten-view h4,
.recent-view h4,
.related-products-view h4{background:#9D9390;color:#FFFEF1;}
.product .spacer .product-overlay{background-color:rgba(134, 128, 128, 0.7);color:#FFFFFF;}
.ie7 .product .spacer .product-overlay,
.ie8 .product .spacer .product-overlay{background-color:#868080;}
.product .spacer .product-overlay a,
.product .spacer .product-overlay .product-name a,
.product .spacer .product-overlay .product_s_desc{color:#FFFFFF;}
.product .spacer .product-overlay .product-price{color:#E4C805;background-color:transparent;background-image:none;}
ul.ot-vmproduct li.product{border-color:#EBE9DA;}
.VMmenu.styled li{background-image:url("bullet_g.png") !important;background-repeat:no-repeat;background-attachment:scroll;background-position:2px 9px;}
.oBottomBlock{background-color:#3B2826;border-color:#F2B702;color:#FFFEF1;}
.oBottomBlock a{color:#D6D4BC;}
.oBottomBlock h3.mod-title{color:#FFFEF1;}
.custom_contact input,
.custom_contact textarea{background-color:#5D4846;border-color:transparent transparent #6B544E transparent;color:#D6D4BC;}
.custom_contact .btn{color:#FFFFFF;border-color:transparent;background-color:#7C9A1C;background-image:-moz-linear-gradient(top, #91AB31 0, #648313 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #91AB31), color-stop(100%, #648313));background-image:-webkit-linear-gradient(top, #91AB31 0, #648313 100%);background-image:-o-linear-gradient(top, #91AB31 0, #648313 100%);background-image:-ms-linear-gradient(top, #91AB31 0, #648313 100%);background-image:linear-gradient(to bottom, #91AB31 0, #648313 100%);}
.oFooterBlock{}
.oFooterBlock{}
.oFooterBlock,
.oFooterBlock a,
.oFooterBlock ul li span{color:#918072;}
.oFooterBlock a:hover{color:#7C9A1C;}
.custom_socials{}
.custom_social{}
.custom_social:hover{}
.oFooterBlock2{}
a.readmore{background-color:#3B2826;background-attachment:scroll;background-image:url("");background-position:100% 50%;background-repeat:no-repeat;color:#FFFFFF;border-color:#A5A5A5;}
a.readmore:hover{background-color:#457E04;color:#FFFFFF;}
.ico-bq-o{background-attachment:scroll;background-image:url("");background-position:0 50%;background-repeat:no-repeat;}
.ico-bq-c{background-attachment:scroll;background-image:url("");background-position:0 50%;background-repeat:no-repeat;}
div.ot_hr{background-attachment:scroll;background-image:url("");background-position:0 0;background-repeat:repeat-x;}
.nav-tabs > li > a{background-color:#FFFFFF;background-image:-moz-linear-gradient(top, #FFFFFF 0, #ECECEC 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #ECECEC));background-image:-webkit-linear-gradient(top, #FFFFFF 0, #ECECEC 100%);background-image:-o-linear-gradient(top, #FFFFFF 0, #ECECEC 100%);background-image:-ms-linear-gradient(top, #FFFFFF 0, #ECECEC 100%);background-image:linear-gradient(to bottom, #FFFFFF 0, #ECECEC 100%);border-color:#E9E9E9;color:#666666;}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus{background-image:none;color:#222222;border-color:#E9E9E9;}
.tab-content{border-color:#E9E9E9;}
.carousel{}
.carousel-control{}
.carousel-control.control-light{background-color:#FFFFFF;color:#000000;}
.icon-prev-bold{background:url("") no-repeat scroll 50% 50% transparent;}
.icon-next-bold{background:url("") no-repeat scroll 50% 50% transparent;}
.icon-prev{background:url("") no-repeat scroll 50% 50% transparent;}
.icon-next{background:url("") no-repeat scroll 50% 50% transparent;}
.carousel-indicators li{background-color:#CFCFCF;}
.carousel-indicators li:hover,
.carousel-indicators li.active{background-color:#8BAA11;background-image:-moz-linear-gradient(top, #8BAA11 0, #1E5A01 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #8BAA11), color-stop(100%, #1E5A01));background-image:-webkit-linear-gradient(top, #8BAA11 0, #1E5A01 100%);background-image:-o-linear-gradient(top, #8BAA11 0, #1E5A01 100%);background-image:-ms-linear-gradient(top, #8BAA11 0, #1E5A01 100%);background-image:linear-gradient(to bottom, #8BAA11 0, #1E5A01 100%);}
.ot-slidenav .carousel-control.left{background-color:#607848;}
.ot-slidenav .carousel-control.right{background-color:#6F8C12;}
.ot-slidenav .icon-prev{background:url("") no-repeat scroll 50% 50% transparent;}
.ot-slidenav .icon-next{background:url("") no-repeat scroll 50% 50% transparent;}
.roundabout-control{border-color:#FFFFFF;background-color:#2F201E;}
.roundabout-control.prev{background-image:url("");background-attachment:scroll;background-position:50% 50%;background-repeat:no-repeat;}
.roundabout-control.next{background-image:url("");background-attachment:scroll;background-position:50% 50%;background-repeat:no-repeat;}
.btn_setting{background:url("") no-repeat scroll 50% 50% transparent;}
.btn_setting.hover,
.btn_setting:hover{}
level1.hover,
.ie7 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1.active,
.ie8 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1:hover,
.ie8 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1.hover,
.ie8 .mainmenu .otmenu-desk-wrapper .ot-menu li.level1.active{background-color:#191011;-webkit-box-shadow:1px 1px 0px #5A514D;-moz-box-shadow:1px 1px 0px #5A514D;box-shadow:1px 1px 0px #5A514D;}
.mainmenu .otmenu-desk-wrapper .ot-menu li > div > a:hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.hover > div > a,
.mainmenu .otmenu-desk-wrapper .ot-menu li.active > div > a{background-color:transparent;color:#6F8C12;}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1 > div > a:hover,
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1.hover > div > a,
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1.active > div > a{color:#DEDCC7;}
.mainmenu .otmenu-desk-wrapper .ot-menu .submenu-wrap{background-color:rgba(42, 29, 27, 0.9);-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.25);-moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.25);box-shadow:1px 1px 2px rgba(0, 0, 0, 0.25);}
.ie7 .mainmenu .otmenu-desk-wrapper .ot-menu .submenu-wrap,
.ie8 .mainmenu .otmenu-desk-wrapper .ot-menu .submenu-wrap{background-color:#2A1D1B;-webkit-box-shadow:1px 1px 2px #000000;-moz-box-shadow:1px 1px 2px #000000;box-shadow:1px 1px 2px #000000;}
.mainmenu .otmenu-desk-wrapper .ot-menu li.level1 > div > .submenu-wrap{}
.mainmenu .otmenu-desk-wrapper .ot-menu li > div > .submenu-wrap{}
.mainmenu .otmenu-desk-wrapper .ot-menu li.hasColumn .submenu-column{background-color:transparent;}
.mainmenu .otmenu-desk-wrapper .ot-menu .submenu-wrap-i{}
.mainmenu .otmenu-desk-wrapper .ot-menu li li{background:none;}
.mainmenu .otmenu-desk-wrapper .ot-menu.child-menu li.hasChild.notColumn > div > a{background-image:url("");background-repeat:no-repeat;background-attachment:scroll;background-position:98% 50%;}
.mainmenu .otmenu-desk-wrapper .ot-menu.child-menu li.hasChild.notColumn.active > div > a,
.mainmenu .otmenu-desk-wrapper .ot-menu.child-menu li.hasChild.notColumn.hover > div > a{}
.module.accordion .search .form-search{background:#FFFFFF;border-color:#5D4846;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.35);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.35);box-shadow:0 1px 2px rgba(0, 0, 0, 0.35);}
.form-search .input-append .search-query{background:#F6F6F6;color:#999999;}
.custom_search .form-search .input-append{background:#FFFFFF;-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.25) inset;-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.25) inset;box-shadow:1px 1px 1px rgba(0, 0, 0, 0.25) inset;}
.custom_search .form-search .input-append .search-query,
.custom_search .form-search .input-append .btn{background:#FFFFFF;color:#999999;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;}
.oMiddleBlock{background-color:#3B2826;border-color:#F2B702;}
.breadcrumb,
.breadcrumb a,
.breadcrumb > .active{color:#BDA795;}
.breadcrumb{background-color:transparent;}
.breadcrumb > li{text-shadow:0 0 0 rgba(0, 0, 0, 0);}
.breadcrumb > li > .divider{background-attachment:scroll;background-color:transparent;background-image:url("");background-repeat:no-repeat;background-position:50% 50%;}
.componentheading,
.page-header{color:#7C9A1C;}
.module h3.mod-title,
.module h3.custom-title{color:#7C9A1C;}
.module.style2 h3.mod-title,
.module h3.custom-title.style2{color:#F85D77;}
.page-content,
.module .mod-content{}
.oMainBlock .module ul li{}
.oMainBlock .module ul.nav li{background-image:none;border-color:#959594;}
.oMainBlock .module ul.nav li a{color:#555555;}
.oMainBlock .module ul.nav li.active > a,
.oMainBlock .module ul.nav li a:hover,
.oMainBlock .module ul.nav li a:focus{color:#36720B;}
.module .list-items li .created{color:#999999;}
.itemContainer,
.userItemView,
div.tagItemView,
.latestItemView{border-color:#E5E5E5;}
div.itemHeader h2.itemTitle{}
div.itemListSubCategories h3,
.itemHeader .itemTitle,
.genericItemTitle,
.catItemHeader .catItemTitle,
.catItemHeader .catItemTitle a,
div.latestItemHeader h3.latestItemTitle,
div.latestItemHeader h3.latestItemTitle a,
.moduleItemTitle,
.moduleItemTitle a{color:#625A4B;}
ul.itemsList li{border-color:#EBEBEB;}
.k2ItemBlock{border-color:#E5E5E5;}
.catItemTags,
.userItemTags,
.itemTags,
.moduleItemTags,
.catItemTags a,
ul.userItemTags li a,
.itemTags a,
.moduleItemTags a{color:#666666;}
.catItemTags a:hover,
ul.userItemTags li a:hover,
.itemTags a:hover,
.moduleItemTags a:hover{color:#979E28;}
.itemCommentsCounter{border-color:#6F8C12;}
.itemCommentsCounter > span{background-color:#629E1E;color:#FFFFFF;}
.k2ItemsBlock .ot-single .moduleItemOverlay,
.k2ItemsBlock .ot-single .moduleItemOverlay a{color:#FFFFFF;}
.k2ItemsBlock .ot-single .moduleItemOverlay .moduleItemTitle{background-color:#457E04;color:#FFFFFF;}
.k2ItemsBlock .ot-single .moduleItemOverlay .moduleItemIntrotext{background-color:#3B2826;}
.k2ItemsBlock .ot-single .moduleItemOverlay .moduleItemAddition{background-color:#457E04;background-image:none;}
.k2ItemsBlock .ot-single .moduleItemOverlay a.moduleItemReadMore{background-color:#3B2826;background-image:url("");background-repeat:no-repeat;background-position:92% 50%;}
.accordion-group.k2ItemBlock .accordion-heading{background-color:#F7F4EE;}
.accordion-group.k2ItemBlock .accordion-heading .accordion-toggle{background-color:#E7E1D8;}
.accordion-group.k2ItemBlock .accordion-heading .icon-plus-minus{background-image:url("");background-position:0 0;}
.accordion-group.k2ItemBlock.active .accordion-heading,
.accordion-group.k2ItemBlock:hover .accordion-heading{background-color:#607848;}
.accordion-group.k2ItemBlock.active .accordion-heading .accordion-toggle,
.accordion-group.k2ItemBlock:hover .accordion-heading .accordion-toggle{background-color:#6F8C12;}
.accordion-group.k2ItemBlock.active .accordion-heading .icon-plus-minus{background-image:url("");background-position:0 0;}
.accordion-group.k2ItemBlock .accordion-heading .moduleItemTitle{color:#333333;}
.accordion-group.k2ItemBlock.active .accordion-heading .moduleItemTitle,
.accordion-group.k2ItemBlock:hover .accordion-heading .moduleItemTitle{color:#FFFFFF;}
.moduleItemReadMore,
a.k2ReadMore{background-color:#3B2826;background-attachment:scroll;background-image:url("");background-position:100% 50%;background-repeat:no-repeat;color:#FFFFFF;}
.moduleItemReadMore:hover,
a.k2ReadMore:hover{background-color:#457E04;color:#FFFFFF;}
.browse-top h3.category-title{color:#7C9A1C;}
.category-view .row-fluid .category .spacer,
.featured-view .spacer,
.latest-view .spacer,
.topten-view .spacer,
.recent-view .spacer,
.related-products-view .spacer,
.browse-view .row-fluid .product .spacer,
.product .spacer{}
.category-view .row-fluid .category .spacer:hover,
.featured-view .spacer:hover,
.latest-view .spacer:hover,
.topten-view .spacer:hover,
.recent-view .spacer:hover,
.related-products-view .spacer:hover,
.browse-view .row-fluid .product .spacer:hover,
.product .spacer:hover{}
.product .spacer .product-image{}
.product .spacer .product-name{}
.product .spacer a.product-name:hover{color:#7C9A1C;}
.product .spacer .product-s-desc{}
.product .spacer .product-details{color:#FFFFFF;border-color:#5B951F #73A82F #689E27 #4C8815;background-color:#629E1E;background-image:-moz-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #73AA2E), color-stop(100%, #508C16));background-image:-webkit-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-o-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-ms-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:linear-gradient(to bottom, #73AA2E 0, #508C16 100%);}
.product .spacer .product-details:hover{background-color:#457E04;background-image:-moz-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #578D07), color-stop(100%, #376C03));background-image:-webkit-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-o-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-ms-linear-gradient(top, #578D07 0, #376C03 100%);background-image:linear-gradient(to bottom, #578D07 0, #376C03 100%);}
.featured-view .spacer span.product-discount,
.latest-view .spacer span.product-discount,
.topten-view .spacer span.product-discount,
.recent-view .spacer span.product-discount,
.related-products-view .spacer span.product-discount,
.browse-view .row-fluid .product .spacer span.product-discount,
.product .spacer span.product-discount{color:#FFFFFF;background-image:url("");background-repeat:no-repeat;background-attachment:scroll;background-position:0 0;}
.product .spacer .product-price,
.product .spacer .product-rel-price{background-color:#3B2826;background-image:url("");background-repeat:no-repeat;background-attachment:scroll;background-position:8px 50%;}
.featured-view .spacer .product-price span,
.latest-view .spacer .product-price span,
.topten-view .spacer .product-price span,
.recent-view .spacer .product-price span,
.related-products-view .spacer .product-price span,
.browse-view .row-fluid .product .spacer .product-price span,
.product .spacer .product-price,
.product .spacer .product-rel-price{color:#FCFADB;}
.featured-view .spacer .product-price .price-crossed span,
.latest-view .spacer .product-price .price-crossed span,
.topten-view .spacer .product-price .price-crossed span,
.recent-view .spacer .product-price .price-crossed span,
.related-products-view .spacer .product-price .price-crossed span,
.browse-view .row-fluid .product .spacer .product-price .price-crossed span,
.product .spacer .product-price .price-crossed,
.product .spacer .product-rel-price .price-crossed{color:#B1B1B1;}
.product-preview{}
.main-image{}
.main-image .img-caption{background:#D7D7D7;}
.additional-images{}
.additional-images .nav > li > a{border-color:#F2F2F2;}
.additional-images .nav > li > a:hover,
.additional-images .nav > li:hover > a,
.additional-images .nav > li.active > a{border-color:#CCCCCC;}
.productdetails-view .product-name h1{color:#694743;}
.productdetails-view .category-name{color:#999999;}
.product-in-stock{color:#7C9A1C;}
.availability,
.productdetails-view .product-price span{color:#7C9A1C;}
.productdetails-view .product-price span.PricesalesPrice{color:#F95D77;}
.productdetails-view .product-price .price-crossed span{color:#918072;}
.productdetails-view .product-short-description{border-color:#E9E9E9;}
.productdetails-view .product-details{}
.productdetails-view .spacer-buy-area,
.productdetails-view .product-fields{}
.productdetails-view .addtocart-area{}
span.addtocart-button input.addtocart-button{color:#FFFEF1;background-color:#F2B200;background-image:-moz-linear-gradient(top, #F6CB00 0, #F0EFE3 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #F6CB00), color-stop(100%, #F0EFE3));background-image:-webkit-linear-gradient(top, #F6CB00 0, #F0EFE3 100%);background-image:-o-linear-gradient(top, #F6CB00 0, #F0EFE3 100%);background-image:-ms-linear-gradient(top, #F6CB00 0, #F0EFE3 100%);background-image:linear-gradient(to bottom, #F6CB00 0, #F0EFE3 100%);border-color:#FAF9EC;}
span.addtocart-button input.addtocart-button:hover{}
span.addtocart-button input.notify-button,
.vm-button-correct, .vm-button-correct:link,
.vm-button-correct:visited{background-color:#629E1E;background-image:-moz-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #73AA2E), color-stop(100%, #508C16));background-image:-webkit-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-o-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:-ms-linear-gradient(top, #73AA2E 0, #508C16 100%);background-image:linear-gradient(to bottom, #73AA2E 0, #508C16 100%);}
span.addtocart-button input.notify-button:hover,
.vm-button-correct:hover{background-color:#457E04;background-image:-moz-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #578D07), color-stop(100%, #376C03));background-image:-webkit-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-o-linear-gradient(top, #578D07 0, #376C03 100%);background-image:-ms-linear-gradient(top, #578D07 0, #376C03 100%);background-image:linear-gradient(to bottom, #578D07 0, #376C03 100%);color:#FFFFFF;}
.productdetails-view h4,
.product-related-products h4,
.product-related-categories h4,
.category-view h4,
.featured-view h4,
.latest-view h4,
.topten-view h4,
.recent-view h4,
.related-products-view h4{background:#9D9390;color:#FFFEF1;}
.product .spacer .product-overlay{background-color:rgba(134, 128, 128, 0.7);color:#FFFFFF;}
.ie7 .product .spacer .product-overlay,
.ie8 .product .spacer .product-overlay{background-color:#868080;}
.product .spacer .product-overlay a,
.product .spacer .product-overlay .product-name a,
.product .spacer .product-overlay .product_s_desc{color:#FFFFFF;}
.product .spacer .product-overlay .product-price{color:#E4C805;background-color:transparent;background-image:none;}
ul.ot-vmproduct li.product{border-color:#EBE9DA;}
.VMmenu.styled li{background-image:url("bullet_g.png") !important;background-repeat:no-repeat;background-attachment:scroll;background-position:2px 9px;}
.oBottomBlock{background-color:#3B2826;border-color:#F2B702;color:#FFFEF1;}
.oBottomBlock a{color:#D6D4BC;}
.oBottomBlock h3.mod-title{color:#FFFEF1;}
.custom_contact input,
.custom_contact textarea{background-color:#5D4846;border-color:transparent transparent #6B544E transparent;color:#D6D4BC;}
.custom_contact .btn{color:#FFFFFF;border-color:transparent;background-color:#7C9A1C;background-image:-moz-linear-gradient(top, #91AB31 0, #648313 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #91AB31), color-stop(100%, #648313));background-image:-webkit-linear-gradient(top, #91AB31 0, #648313 100%);background-image:-o-linear-gradient(top, #91AB31 0, #648313 100%);background-image:-ms-linear-gradient(top, #91AB31 0, #648313 100%);background-image:linear-gradient(to bottom, #91AB31 0, #648313 100%);}
.oFooterBlock{}
.oFooterBlock{}
.oFooterBlock,
.oFooterBlock a,
.oFooterBlock ul li span{color:#918072;}
.oFooterBlock a:hover{color:#7C9A1C;}
.custom_socials{}
.custom_social{}
.custom_social:hover{}
.oFooterBlock2{}
a.readmore{background-color:#3B2826;background-attachment:scroll;background-image:url("");background-position:100% 50%;background-repeat:no-repeat;color:#FFFFFF;border-color:#A5A5A5;}
a.readmore:hover{background-color:#457E04;color:#FFFFFF;}
.ico-bq-o{background-attachment:scroll;background-image:url("");background-position:0 50%;background-repeat:no-repeat;}
.ico-bq-c{background-attachment:scroll;background-image:url("");background-position:0 50%;background-repeat:no-repeat;}
div.ot_hr{background-attachment:scroll;background-image:url("");background-position:0 0;background-repeat:repeat-x;}
.nav-tabs > li > a{background-color:#FFFFFF;background-image:-moz-linear-gradient(top, #FFFFFF 0, #ECECEC 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #ECECEC));background-image:-webkit-linear-gradient(top, #FFFFFF 0, #ECECEC 100%);background-image:-o-linear-gradient(top, #FFFFFF 0, #ECECEC 100%);background-image:-ms-linear-gradient(top, #FFFFFF 0, #ECECEC 100%);background-image:linear-gradient(to bottom, #FFFFFF 0, #ECECEC 100%);border-color:#E9E9E9;color:#666666;}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus{background-image:none;color:#222222;border-color:#E9E9E9;}
.tab-content{border-color:#E9E9E9;}
.carousel{}
.carousel-control{}
.carousel-control.control-light{background-color:#FFFFFF;color:#000000;}
.icon-prev-bold{background:url("") no-repeat scroll 50% 50% transparent;}
.icon-next-bold{background:url("") no-repeat scroll 50% 50% transparent;}
.icon-prev{background:url("") no-repeat scroll 50% 50% transparent;}
.icon-next{background:url("") no-repeat scroll 50% 50% transparent;}
.carousel-indicators li{background-color:#CFCFCF;}
.carousel-indicators li:hover,
.carousel-indicators li.active{background-color:#8BAA11;background-image:-moz-linear-gradient(top, #8BAA11 0, #1E5A01 100%);background-image:-webkit-gradient(left top, left bottom, color-stop(0%, #8BAA11), color-stop(100%, #1E5A01));background-image:-webkit-linear-gradient(top, #8BAA11 0, #1E5A01 100%);background-image:-o-linear-gradient(top, #8BAA11 0, #1E5A01 100%);background-image:-ms-linear-gradient(top, #8BAA11 0, #1E5A01 100%);background-image:linear-gradient(to bottom, #8BAA11 0, #1E5A01 100%);}
.ot-slidenav .carousel-control.left{background-color:#607848;}
.ot-slidenav .carousel-control.right{background-color:#6F8C12;}
.ot-slidenav .icon-prev{background:url("") no-repeat scroll 50% 50% transparent;}
.ot-slidenav .icon-next{background:url("") no-repeat scroll 50% 50% transparent;}
.roundabout-control{border-color:#FFFFFF;background-color:#2F201E;}
.roundabout-control.prev{background-image:url("");background-attachment:scroll;background-position:50% 50%;background-repeat:no-repeat;}
.roundabout-control.next{background-image:url("");background-attachment:scroll;background-position:50% 50%;background-repeat:no-repeat;}
.btn_setting{background:url("") no-repeat scroll 50% 50% transparent;}
.btn_setting.hover,
.btn_setting:hover{}